.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  width: 300px;
}

.delButton {
  margin-left: 50px;
  height: 32px;
  border-radius: 5px;
}

.fieldInfo {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 10px;
  padding: 10px 0px;
}

.name {
  margin-left: 10px;
}

.number {
  margin-left: 10px;
}
