.contactForm {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    border: 2px solid black;
    border-radius: 2px;
    padding: 10px;
    gap: 10px;
}

.errorMessage {
    font-size: 0.75rem;
    color: red;
}

.addButton {
    align-self: center;
    margin-top: 10px;
}

.name {
    display: flex;
    flex-direction: column;
}

.number {
    display: flex;
    flex-direction: column;
}